[Unit]
Description=convertorbot

[Service]
User=root
WorkingDirectory=/home/projects/convertorbot
ExecStart=/bin/bash -c 'cd /home/projects/convertorbot && python3 main.py'
optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
